.container-menu-bar {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container-menu-bar .image-home {
    max-width: 100px;
}
