.container{
    margin-top: 50px;

}

.form{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container-input{
    display: flex;
    flex-direction: column;
    width: 44%;
    padding: 30px;
    border: 2px solid black;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}
.field .input {
    width: 50%;

}

.field .input input{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    height: 30px;
    text-align: center;
}

.field label {
    width: 30%;
}


.field-month-year{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.field-month-year .input {
    width: 45%;
}

.field-month-year .input input{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    height: 30px;
    text-align: center;
}


.caddie{
    width: 44%;
    padding: 30px;
}

.container-back {
    margin-left: 20px;
}


.back-link {
    color: black;
}

.table{
    width: 100%;
    border: 2px solid black;
}
tr td{
}

.row{
    height: 50px;

}

.cell{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}


.pay-link {
    border: black 2px solid;
    background-color: white;
    color: inherit;
    padding: 10px 10px 10px 10px ;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 110px;
    text-align: center;
}

.pay-link-disable {
    border: black 2px solid;
    background-color: lightgray;
    color: inherit;
    padding: 10px 10px 10px 10px ;
    font: inherit;
    outline: inherit;
    width: 110px;
    text-align: center;
}

.container-total {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container-order{
    width: 100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.red{
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

